html, body {
    margin: 0;
    padding: 0;
}

#table {
    position: relative;
    width: 100%;
    height: 100vh;
    z-index: -10;
}

.backCard {
    position: absolute;
    z-index: -9;
    height: 20vh;
    margin-left: -50vw;
    margin-top: 10vh;
}

/* .backAfter {
    position: absolute;
    z-index: -9;
    height: 140px;
    margin-left: -820px;
    margin-top: 100px;
    border-radius: 5px;
} */

/* #dealer {
    position: absolute;
    z-index: -8;
    height: 15vh;
    margin-left: -50vw;
    margin-top: 10vh;
    border-radius: 5px;
} */

 #dealerTwo {
    position: absolute;
    z-index: -8;
    height: 20vh;
    margin-left: 44vw;
    top: 10vh;
    border-radius: 5px;
}

#dealerThree {
    position: absolute;
    z-index: -6;
    height: 20vh;
    margin-left: 40vw;
    top: 10vh;
    border-radius: 5px;
}

#playerOne {
    position: absolute;
    z-index: -7;
    height: 20vh;
    margin-left: 42vw;
    border-radius: 5px;
    bottom: 0;
}

#playerTwo {
    position: absolute;
    z-index: -6;
    height: 20vh;
    margin-left: 45vw;
    border-radius: 5px;
    bottom: 2vh;
}

#playerThree {
    position: absolute;
    z-index: -5;
    height: 20vh;
    margin-left: 48vw;
    border-radius: 5px;
    bottom: 4vh;
}

#playerFour {
    position: absolute;
    z-index: -4;
    height: 20vh;
    margin-left: 51vw;
    border-radius: 5px;
    bottom: 6vh;
}

#playerFive {
    position: absolute;
    z-index: -3;
    height: 20vh;
    margin-left: 54vw;
    border-radius: 5px;
    bottom: 8vh;
}

#playerSix {
    position: absolute;
    z-index: -2;
    height: 20vh;
    margin-left: 57vw;
    border-radius: 5px;
    bottom: 10vh;
}



#bank {
    position: absolute;
    top: 60px;
    right: 100px;
    font-size: 26px;
    font-weight: 600;
    letter-spacing: 0.1em;
}

#commandContainer {
    position: absolute;
    bottom: 80px;
    left: 150px;
}

button {
    display: inline;
    margin: 20px;
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    border-radius: 10px;
}

button:focus {
    outline: 0;
}

#betContainer {
    position: absolute;
    bottom: 80px;
    left: 80px;
}

#bet {
    font-size: 20px;
    padding-left: 2px;
    padding-bottom: 2px;
}

i {
    border: solid black;
    border-width: 0 5px 5px 0;
    display: inline-block;
    padding: 8px;
}

#up {
    transform: rotate(-135deg);
}

#up,#down:hover {
    cursor: pointer;
}

#down {
    transform: rotate(45deg);
}

#message {
    position: absolute;
    bottom: 47vh;
    left: 42vw;
    font-size: 50px;
} 