html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

#table {
    position: relative;
    width: 100%;
    height: 100vh;
    z-index: -10;
}

.backCard {
    position: absolute;
    z-index: -9;
    height: 20vh;
    margin-left: -50vw;
    margin-top: 10vh;
    border-radius: 10px;
}

 #dealerTwo {
    position: absolute;
    z-index: -8;
    height: 20vh;
    margin-left: 44vw;
    top: 10vh;
    border-radius: 10px;
}

#dealerThree {
    position: absolute;
    z-index: -6;
    height: 20vh;
    margin-left: 38.5vw;
    top: 10vh;
    border-radius: 10px;
}

#dealerFour {
    position: absolute;
    z-index: -5;
    height: 20vh;
    margin-left: 34.5vw;
    top: 10vh;
    border-radius: 10px;
}

#dealerFive {
    position: absolute;
    z-index: -4;
    height: 20vh;
    margin-left: 30.5vw;
    top: 10vh;
    border-radius: 10px;
}

#dealerSix {
    position: absolute;
    z-index: -3;
    height: 20vh;
    margin-left: 26.5vw;
    top: 10vh;
    border-radius: 10px;
}

#playerOne {
    position: absolute;
    z-index: -7;
    height: 20vh;
    margin-left: 42vw;
    border-radius: 10px;
    bottom: 2vh;
}

#playerTwo {
    position: absolute;
    z-index: -6;
    height: 20vh;
    margin-left: 45vw;
    border-radius: 10px;
    bottom: 4vh;
}

#playerThree {
    position: absolute;
    z-index: -5;
    height: 20vh;
    margin-left: 48vw;
    border-radius: 10px;
    bottom: 6vh;
}

#playerFour {
    position: absolute;
    z-index: -4;
    height: 20vh;
    margin-left: 51vw;
    border-radius: 10px;
    bottom: 8vh;
}

#playerFive {
    position: absolute;
    z-index: -3;
    height: 20vh;
    margin-left: 54vw;
    border-radius: 10px;
    bottom: 10vh;
}

#playerSix {
    position: absolute;
    z-index: -2;
    height: 20vh;
    margin-left: 57vw;
    border-radius: 10px;
    bottom: 12vh;
}

#bank {
    position: absolute;
    top: 10vh;
    right: 7vw;
    font-size: 26px;
    font-weight: 600;
    letter-spacing: 0.1em;
    height: 5vh;
    width: 15vw;
}

#commandContainer {
    position: absolute;
    bottom: 10vh;
    left: 15vw;
    width: 25vw;
}

button {
    display: inline;
    margin: 20px;
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    border-radius: 10px;
}

button:focus {
    outline: 0;
}

#betContainer {
    position: absolute;
    bottom: 10vh;
    left: 9vw;
}

#bet {
    font-size: 2vh;
    text-align: center;
}

i {
    border: solid black;
    border-width: 0 5px 5px 0;
    display: inline-block;
    padding: 8px;
}

#up {
    transform: rotate(-135deg);
    
}

#up,#down:hover {
    cursor: pointer;
}

#down {
    transform: rotate(45deg);
}

#message {
    position: absolute;
    bottom: 47vh;
    left: 30vw;
    text-align: center;
    font-size: 50px;
    color: white;
    font-weight: bold;
} 

#dealAgainContainer {
    position: absolute;
    bottom: 38vh;
    left: 45vw;
    text-align: center;
    font-size: 50px;
    color: white;
    font-weight: bold;
} 

#restartButton {
    display: block;
    position: absolute;
    width: 6.5vw;
    top: -8vh;
}
